# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcodeproj
*.xcuserstate
*.ipa
*.app
Pods/

# Swift Package Manager
.swiftpm

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# CocoaPods
Pods/

# Archives
*.xcarchive

# Others
*.moved-aside
*.hmap
*.ipa

